div {
	width: 100%;
	text-align: center;
	display: inline-block;
    margin-bottom: -4px;
    margin-top: -4px;
}

.row div {
	height: 0px;
	width: 0px;
	background-color: black;
	opacity: 100%;
    padding: 8.8px;
}
