div {
	width: 100%;
	text-align: center;
	display: inline-block;
}
.row div {

	height: 30px;
	width: 30px;
	background-color: black;
	opacity: 100%;
	border: 2px solid red;
	border-radius: 5px;
	padding: 5px;
}
